extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Main page"

block content
	main.main
		//- .container
		//- 	p main-page
		//- 		Header Восстановление и защитабетонных сооружений
		
		+b.SECTION.banner
			.container
				+e.inner
					div.js-banner-slider
						+e.slide
							+e.item
								+e.box
									+e.item-text-1 Новый химический анкер
									+e.item-text-2 MASTERFLOW 920 ANW
									+e.item-text-3 Для применения при отрицательной температуре до -10С
								+e.image
									+e.IMG.picture(src="/img/temp/banner-img-1.png")
									
						+e.slide
							+e.item
								+e.box
									+e.item-text-1 Новый химический анкер
									+e.item-text-2 MASTERFLOW 920 ANW
									+e.item-text-3 Для применения при отрицательной температуре до -10С
								+e.image
									+e.IMG.picture(src="/img/temp/banner-img-1.png")
