extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Main page"

block content
	main.main
		//- .container
		//- 	p main-page
		//- 		Header Восстановление и защитабетонных сооружений
		
		+b.SECTION.banner
			.container
				+e.inner
					div.js-banner-slider
						+e.slide
							+e.item
								+e.box
									+e.item-text-1 Новый химический анкер
									+e.item-text-2 MASTERFLOW 920 ANW
									+e.item-text-3 Для применения при отрицательной температуре до -10С
								+e.image
									+e.IMG.picture(src="/img/temp/banner-img-1.png")

						+e.slide
							+e.item
								+e.box
									+e.item-text-1 Новый химический анкер
									+e.item-text-2 MASTERFLOW 920 ANW
									+e.item-text-3 Для применения при отрицательной температуре до -10С
								+e.image
									+e.IMG.picture(src="/img/temp/banner-img-1.png" width="467" height="443")
						
						+e.slide
							+e.item
								+e.box
									+e.item-text-1 Новый химический анкер
									+e.item-text-2 MASTERFLOW 920 ANW
									+e.item-text-3 Для применения при отрицательной температуре до -10С
								+e.image
									+e.IMG.picture(src="/img/temp/banner-img-1.png" width="467" height="443")
				
			+e.bottom 36

		+b.SECTION.m-slider
			.container
				+e.inner
					+e.slider.js-m-slider
						+e.slide
							+e.item
								+e.A.image(href="#")
									+e.IMG.picture(src="/img/temp/m-slider-item-1.jpg" width="246" height="293")
								+e.box
									+e.item-name Восстановление и защита бетонных сооружений
									+e.item-descr.text  
										p Современные материалы и технологии, представленные в данном разделе, позволят значительно повысить срок службы железобетонных сооружений, а также снизить эксплуатационные расходы.

								+e.item-link-wrap
									+e.A.link(href="#") 
										+e.SPAN.link-icon
											+icon("arrow-right")
										+e.SPAN.link-text Перейти в каталог

						+e.slide
							+e.item
								+e.A.image(href="#")
									+e.IMG.picture(src="/img/temp/m-slider-item-2.jpg" width="246" height="293")
								+e.box
									+e.item-name Промышленные полы
									+e.item-descr.text  
										p Условия эксплуатации полов в промышленных помещениях налагают особые требования к их стойкости и другим качествам. Предпочтительные свойства зависят от типа помещения: для складов пол, устойчивый...

								+e.item-link-wrap
									+e.A.link(href="#") 
										+e.SPAN.link-icon
											+icon("arrow-right")
										+e.SPAN.link-text Перейти в каталог

						+e.slide
							+e.item
								+e.A.image(href="#")
									+e.IMG.picture(src="/img/temp/m-slider-item-1.jpg" width="246" height="293")
								+e.box
									+e.item-name Восстановление и защита бетонных сооружений
									+e.item-descr.text  
										p Современные материалы и технологии, представленные в данном разделе, позволят значительно повысить срок службы железобетонных сооружений, а также снизить эксплуатационные расходы.

								+e.item-link-wrap
									+e.A.link(href="#") 
										+e.SPAN.link-icon
											+icon("arrow-right")
										+e.SPAN.link-text Перейти в каталог

						+e.slide
							+e.item
								+e.A.image(href="#")
									+e.IMG.picture(src="/img/temp/m-slider-item-2.jpg" width="246" height="293")
								+e.box
									+e.item-name Промышленные полы
									+e.item-descr.text  
										p Условия эксплуатации полов в промышленных помещениях налагают особые требования к их стойкости и другим качествам. Предпочтительные свойства зависят от типа помещения: для складов пол, устойчивый...

								+e.item-link-wrap
									+e.A.link(href="#") 
										+e.SPAN.link-icon
											+icon("arrow-right")
										+e.SPAN.link-text Перейти в каталог
					
						+e.slide
							+e.item
								+e.A.image(href="#")
									+e.IMG.picture(src="/img/temp/m-slider-item-1.jpg" width="246" height="293")
								+e.box
									+e.item-name Восстановление и защита бетонных сооружений
									+e.item-descr.text  
										p Современные материалы и технологии, представленные в данном разделе, позволят значительно повысить срок службы железобетонных сооружений, а также снизить эксплуатационные расходы.

								+e.item-link-wrap
									+e.A.link(href="#") 
										+e.SPAN.link-icon
											+icon("arrow-right")
										+e.SPAN.link-text Перейти в каталог

						+e.slide
							+e.item
								+e.A.image(href="#")
									+e.IMG.picture(src="/img/temp/m-slider-item-2.jpg" width="246" height="293")
								+e.box
									+e.item-name Промышленные полы
									+e.item-descr.text  
										p Условия эксплуатации полов в промышленных помещениях налагают особые требования к их стойкости и другим качествам. Предпочтительные свойства зависят от типа помещения: для складов пол, устойчивый...

								+e.item-link-wrap
									+e.A.link(href="#") 
										+e.SPAN.link-icon
											+icon("arrow-right")
										+e.SPAN.link-text Перейти в каталог

						+e.slide
							+e.item
								+e.A.image(href="#")
									+e.IMG.picture(src="/img/temp/m-slider-item-1.jpg" width="246" height="293")
								+e.box
									+e.item-name Восстановление и защита бетонных сооружений
									+e.item-descr.text  
										p Современные материалы и технологии, представленные в данном разделе, позволят значительно повысить срок службы железобетонных сооружений, а также снизить эксплуатационные расходы.

								+e.item-link-wrap
									+e.A.link(href="#") 
										+e.SPAN.link-icon
											+icon("arrow-right")
										+e.SPAN.link-text Перейти в каталог

						+e.slide
							+e.item
								+e.A.image(href="#")
									+e.IMG.picture(src="/img/temp/m-slider-item-2.jpg" width="246" height="293")
								+e.box
									+e.item-name Промышленные полы
									+e.item-descr.text  
										p Условия эксплуатации полов в промышленных помещениях налагают особые требования к их стойкости и другим качествам. Предпочтительные свойства зависят от типа помещения: для складов пол, устойчивый...

								+e.item-link-wrap
									+e.A.link(href="#") 
										+e.SPAN.link-icon
											+icon("arrow-right")
										+e.SPAN.link-text Перейти в каталог

					