@import '_libs';
@import '_fonts';
@import '_varaibles';
@import '_mixins';
@import '_sprite';
@import '_ui';

@include sprites($spritesheet-sprites); //if icons empty will throw error


body {
  min-width: 320px;
  font-family: $ffCirce;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  background: #fff;
}


/* Back top */
.back-to-top {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: $color1;
  overflow: hidden;
  text-indent: -99999px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  @include rule(bottom, (xs: 0, xl: 50px));
  @include rule(right, (xs: 0%, xl: 3%));
  cursor: pointer;
 
  transition: 0.2s;

  &.show:hover,
  &.show:active {
    opacity: 1;
  }
  &.show {
    visibility: visible;
    opacity: 0.5;
    pointer-events: visible;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    background: none;
    transform: rotate(45deg);
  }
}

/* End Back top */

.container {
  max-width: 1265px;
  margin: 0 auto;
}

.breadcrumbs-block {
  @include rule(margin, (xs: 0 0 25px, lg: 0 0 35px));
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  @include rule(flex-wrap, (xs: nowrap, lg: wrap));
  @include rule(overflow-x, (xs: auto, lg: hidden));;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: inherit;
  
  &__item {
      display: inline-flex;
      align-items: center;
      font-weight: 400;
      white-space: nowrap;
      text-decoration: none;
      word-wrap: break-word;
      overflow-wrap: break-word;
  }

  &__link {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s;

      @include hover {
          color: $color1;
      }
  }

  &__sep {
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px;
      text-decoration: none;
      font-weight: 300;
      font-style: normal;
  }
}

.banner {
  position: relative;

  &__box {
    max-width: 650px;
  }

  // &:not(.slick-slide):not(:first-child) &__slide {
  //   display: none;
  // }
  
  &__item {
    min-height: 490px;
    position: relative;
    background: #EFEFEF;
    display: flex;
    align-items: center; 
    padding: 0px 95px 0 80px;

    
    
    &-text-1 {
      font-size: 30px;
      font-weight: 800;
      line-height: calc(36/30);
      text-transform: uppercase;
      letter-spacing: 0.08em;
    }
    &-text-2 {
      display: block;
      margin: 0 0 16px;
      font-size: 30px;
      font-weight: 800;
      line-height: calc(36/30);
      text-transform: uppercase;
      letter-spacing: 0.08em;
      color: #FF650C;
    }

    &-text-3 {
      display: block;
      max-width: 420px;
      margin: 0;
      font-size: 20px;
      line-height: calc(28/20);
      font-weight: 400;
      opacity: 0.6;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    right: 95px;
    transform: translate(0, -50%);
    width: auto;
    height: auto;
    max-width: 460px;
    max-height: 445px;
  }

  &__slide {
    position: relative;
    z-index: 2;
    &:not(.slick-slide):not(:first-child) {
      display: none;
    }
  } 

  .slick-dots {
    @extend .list-resset;
    position: absolute;
    z-index: 1;
    left: 80px;
    bottom: 33px;
    // border: 1px solid #000;

    display: flex;
    align-items: center;

    li {

      display: flex;
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-right: 10px;
      }

      button {
        @extend .button-resset;
        text-indent: -99999px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;

        transition: width 0.2s, background 0.2s;
      }

      &.slick-active button {
        background: #FD7F36;
        width: 28px;
        border-radius: 10px;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: rgba(177,223, 140, 0.4);
  }



}

.m-slider {
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: 1;
    
    height: 100%;
    width: calc((100vw - 1265px) / 2);
    background: #ffffff;
    opacity: 0.5;
  }
  
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

  &__slider {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // .slick-list {
    //   overflow: visible;
    // }

    .slick-arrow {
      @extend .button-resset;

      position: absolute;
      z-index: 2;
      top: 50%;
      width: 50px;
      height: 50px;
      transform: translate(0, -50%);
      background: #F68E56;
      cursor: pointer;
      transition: background 0.2s;

      &:hover{
        background: darken($color: #F68E56, $amount: 10);
      }
    }

    .slick-prev {
      right: 100%;
    }
    .slick-next {
      left: 100%;
    }
  }
  &__slide {
    width: 50%;
    position: relative;
    z-index: 2;

    // &:not(.slick-slide):not(:first-child) {
    //   display: none;
    // }

    // &:not(.slick-slide):not(:first-child) {
  } 

  &__item {
    position: relative;
    display: flex;
    // align-items: center;
    // width: 50%;

    &-name {
      display: block;
      margin: 0 0 8px;
      font-size: 24px;
      font-weight: 700;
      line-height: calc(28/24);
    }
    &-descr {
      display: block;
      margin: 0 0 8px;
      font-size: 14px;
      font-weight: 350;
      line-height: calc(24/14);
    }

    &-link {
      
  
      &-wrap {
        display: block;
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
  
        display: flex;
        justify-content: center
      }
  
    }


  }

  &__image {
    @extend .list-resset;
    display: block;
    width: 246px;
    min-width: 246px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__box {
    // width: 50%;
    padding: 33px 42px 76px 43px;
    background: #ffffff;
  }

  &__link {
    @extend .link-resset;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(20/14);
    color: #ff650c;
    transition: color 0.2s;

    &:hover {
      color: #000000;
    }

    &-icon {
      margin-right: 26px;

      svg {
        display: block;
        width: 180px;
        height: 14px;
      }
    }
  }




  




}

